%h1 Listing comments

%table
  %tr
    %th Body
    %th Post
    %th User
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= comment.body
      %td= comment.post
      %td= comment.user
      / %td= link_to 'Show', comment
      %td= link_to 'Edit', edit_post_comment_path(@post, comment)
      %td= link_to 'Destroy', [@post, comment], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

/ = link_to 'New Comment', new_comment_path
