<!DOCTYPE html>
<html>
<head>
  <title>That Movies App, Now On Rails!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <h1>That Movies App, Now On Rails!</h1>
  <nav>
    <%= link_to 'All movies', movies_path %>
    |
    <%= link_to 'Add a movie', new_movie_path %>
    |
    <%= link_to 'All actors', actors_path %>
    |
    <%= link_to 'Add an actor/actress', new_actor_path %>
  </nav>

  <%= yield %>

</body>
</html>
