<h1>Question <%= @question_id %></h1>
<p><%= @question %></p>
<p><a href="<%= @next %>?answered_id=<%= @question_id %>&answer=true">TRUE</a> or <a href="<%= @next %>?answered_id=<%= @question_id %>&answer=false">FALSE</a> 
</p>