/ %p#notice= notice

%h2= "Post ##{@post.id}"

%p
  %b Title:
  %br/
  = @post.title
%p
  %b Author:
  %br/
  - begin
    = @post.user.name
  - rescue
    [Deleted User]
%p
  %b Content:
  %br/
  = @post.content


%h2= "#{pluralize(@post.comments.count, "Comment")}"
- @post.comments.each do |comment|
  %p
    - begin
      %b= comment.user.name
    - rescue
      %b [Deleted User]
    %br/
    %em= "#{time_ago_in_words(comment.created_at)} ago"
    %br/
    = comment.body
    %br/
    - if can? :edit, comment
      = link_to "Edit Comment", edit_post_comment_path(comment.post, comment)
      \|
    - if can? :destroy, comment
      = link_to "Delete Comment", [comment.post, comment], :method => :delete, :confirm => "Are you sure you'd like to remove this comment?"

%h2 Add a Comment

- if current_user == nil
  Please
  = link_to "sign in", new_user_session_path
  or
  = link_to "sign up", new_user_registration_path
  to comment.

- else
  = form_for([@post, @post.comments.build]) do |f|
    %p
      %b= f.label :user, "User"
      %br/
      = current_user.name
    %p
      %b= f.label :body, "Comment"
      %br/
      = f.text_area :body
    %p
      = f.submit

%p
  - if can? :update, @post
    = link_to 'Edit Post', edit_post_path(@post)
    \|
  - if can? :destroy, @post
    = link_to 'Delete Post', @post, :method => :delete, :data => { :confirm => 'Are you sure?' }
    \|
  = link_to 'All Posts', posts_path
