{{#if canUpdate}}<button>Edit</button>{{/if}} {{#if canDestroy}}<button {{action deletePost}}>Delete</button>{{/if}}

{{controller}}

<h1>{{title}}</h1>
<h3>by {{author.name}}</h3>

<small class="muted">(posted: {{format-date date}}{{#if lastUpdatedAt}}, updated: {{format-date lastUpdatedAt}}{{/if}})</small>

<hr />

<div>
  {{format-markdown body}}
</div>
