<div>
  {{#if canUpdate}}<button {{action "editPost"}}>Edit</button>{{/if}} {{#if canDestroy}}<button {{action deletePost}}>Delete</button>{{/if}}
</div>

{{#if isEditing}}
  <h1>{{view Ember.TextField valueBinding="title" class="col-md-12"}}</h1>
  <h3>by {{author.name}}</h3>

  <small class="muted">(posted: {{format-date date}}{{#if lastUpdatedAt}}, updated: {{format-date lastUpdatedAt}}{{/if}})</small>

  <hr />

  <div>
    {{view Ember.TextArea valueBinding="body" class="col-md-12" rows="6"}}
  </div>

  <div>
    <button {{action "savePost"}}>Save</button>
  </div>

{{else}}
  <h1>{{title}}</h1>
  <h3>by {{author.name}}</h3>

  <small class="muted">(posted: {{format-date date}}{{#if lastUpdatedAt}}, updated: {{format-date lastUpdatedAt}}{{/if}})</small>

  <hr />

  <div>
    {{format-markdown body}}
  </div>

{{/if}}
